{% extends 'base.html' %}

{% block title %}
    Homepage
{% endblock %}

{% block content %}
<div class="row align-items-center justify-content-center" style="min-height: 80vh;">
    <div class="col-7 ">
        <h1>Garden Lovers</h1>
        <p>Pizza is an Italian food that was created in Italy The Naples 
            are .It is made with different toppings. </p>
        <a href="{% url 'order' %}"><button type="button" class="btn">Order now</button></a>
    </div>
    <div class="col-5">
        <img src="/static/pizza.png" alt="pizza" style="width: 100%;">
    </div>
</div>
{% endblock %}
